@import "tailwindcss";

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

svg.lucide {
	stroke-width: 1.5;
}

@plugin "@tailwindcss/typography";

@theme {
	--color-primary-50: #F4FDFF;
	--color-primary-100: #DFF4FF;
	--color-primary-200: #A6E3FA;
	--color-primary-300: #58BFE5;
	--color-primary-400: #41B5E5;
	--color-primary-500: #2EA8E1;
	--color-primary-600: #289BD3;
	--color-primary-700: #2188C0;
	--color-primary-800: #1E77AC;
	--color-primary-900: #15578A;
	--color-primary-contrast: #ffffff;

	--color-secondary-50: #F1F5F8;
	--color-secondary-100: #DDE8EF;
	--color-secondary-200: #B2CDDF;
	--color-secondary-300: #739CB7;
	--color-secondary-400: #5986A4;
	--color-secondary-500: #3D7291;
	--color-secondary-600: #306480;
	--color-secondary-700: #21506A;
	--color-secondary-800: #133E55;
	--color-secondary-900: #002A3D;
	--color-secondary-contrast: #ffffff;

	--color-text-primary: #21506A;
	--color-text-secondary: #739CB7;
	--color-text-tertiary: #B2CDDF;

	--color-grey-50: #F1F5F8;
	--color-grey-100: #DDE8EF;
	--color-grey-200: #B2CDDF;
	--color-grey-300: #739CB7;
	--color-grey-400: #5986A4;
	--color-grey-500: #3D7291;
	--color-grey-600: #306480;
	--color-grey-700: #21506A;
	--color-grey-800: #133E55;
	--color-grey-900: #002A3D;

	--color-error-50: #FFE9EC;
	--color-error-100: #FFC9CC;
	--color-error-200: #FA928D;
	--color-error-300: #F26561;
	--color-error-400: #FB3C36;
	--color-error-500: #FF210C;
	--color-error-600: #F10611;
	--color-error-700: #DF000C;
	--color-error-800: #D20002;
	--color-error-900: #C50000;
	--color-error-contrast: #ffffff;

	--color-success-50: #F0F8EA;
	--color-success-100: #D9EDCB;
	--color-success-200: #C0E2A9;
	--color-success-300: #A7D687;
	--color-success-400: #93CD6D;
	--color-success-500: #81C454;
	--color-success-600: #72B44C;
	--color-success-700: #5FA041;
	--color-success-800: #4D8B38;
	--color-success-900: #2C6927;
	--color-success-contrast: #ffffff;

	--color-warning-50: #FFF3E3;
	--color-warning-100: #FFE1BA;
	--color-warning-200: #FFCD8F;
	--color-warning-300: #FFB965;
	--color-warning-400: #FEAA4A;
	--color-warning-500: #FD9D3C;
	--color-warning-600: #F89139;
	--color-warning-700: #F08336;
	--color-warning-800: #E87433;
	--color-warning-900: #DE5D2C;
	--color-warning-contrast: #000000;

	--color-black: #000000;
	--color-white: #ffffff;

	--color-tradehelp-cyan: #2EA8E1;
	--color-tradehelp-yellow: #FAB42E;
	--color-tradehelp-magenta: #E61A71;
	--color-tradehelp-green: #92C02E;
	--color-tradehelp-navy: #001541;
	--color-tradehelp-buytrade: #113C84;

	--color-light-grey-bg: #F3F8FB;
}

@layer base {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
		margin: 0 0 0.5rem 0;
	}

	h1 {
		@apply text-5xl lg:text-[4rem] lg:leading-18;
	}

	h2 {
		@apply text-4xl lg:text-5xl;
	}

	h3 {
		@apply text-3xl lg:text-4xl;
	}

	h4 {
		@apply text-lg md:text-[1.75rem];
	}

		h5 {
		@apply text-lg md:text-xl;
	}


	a {
		@apply text-primary-500 no-underline hover:text-tradehelp-cyan
	}

	p {
		@apply font-normal;
	}

}

@utility text-gradient-primary {
	background: linear-gradient(to right, #00C9FF, #25D6E4, #92FE93);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	display: inline-block;
	text-transform: uppercase;
}

@layer utilities {
	.content-wrapper {
		@apply max-w-325 mx-auto px-5 md:px-10 w-full;
	}

	.uppercase-tag {
		@apply uppercase text-sm font-normal;
	}

	.card {
		@apply bg-light-grey-bg border border-grey-50 rounded-lg;
	}
}

body {
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 16px;
	line-height: 1.7;
	font-weight: 300;
	color: var(--color-text-primary);
}

strong,
b {
	font-weight: 700;
}

.lucide {
	stroke-width: 1.5px;
}