---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Layout from '../layouts/Layout.astro';
---


<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>


 <section class="h-150 bg-[#001F2E] mx-4 md:mx-7 rounded-3xl">

<div class="content-wrapper flex flex-col items-start justify-center h-full">

 <div class="bg-white/10 -ml-1 py-2 px-4 uppercase text-white inline-flex gap-1 text-sm font-normal rounded-full">
  Trusted by 23,000 UK Installers
 </div>

 <h1>Boost your business.</h1>

</div>

 </section>


</Layout>
