---

---

<section class='content-wrapper py-15 md:py-20'>
	<div class='grid grid-cols-6 gap-6 md:gap-20'>
		<!-- Left: badge + heading -->
		<div class='col-span-6 md:col-span-3 flex flex-col justify-start pt-2'>
			<p class='uppercase-tag text-tradehelp-cyan pb-4'>Who Are We</p>
			<h4 class='text-text-primary'>
				The No.1 free Trade Network supporting trades with the tools to grow your business.
			</h4>
		</div>

		<!-- Right: body copy + timeline -->
		<div class='col-span-6 md:col-span-3 flex flex-col gap-8'>
			<div class='flex flex-col gap-4 text-text-secondary'>
				<p>Since 2014, TradeHelp has been helping trade businesses save time and money.</p>
				<p>
					Having grown his own family heating business TradeHelp's Managing Director and founder, Martin Jones,
					experienced the challenges faced by all up and coming trades companies.
				</p>
				<p>
					He also experienced the benefits available to those with a much greater buying power and saw an opportunity to
					channel his knowledge and experience.
				</p>
				<p>
					Over the past 12 years TradeHelp have delivered significant improvements to our customers' businesses through
					partnerships, innovation and integrity.
				</p>
			</div>

			<hr class='border-grey-100' />

			<div class='flex flex-col sm:not-visited:flex-row gap-6 md:justify-between'>
				<div class='col-span-3 sm:col-span-1 flex md:flex-col items-end md:items-start gap-5 md:gap-1'>
					<p class='text-4xl font-bold text-tradehelp-cyan'>2014</p>
					<p class='uppercase-tag mb-1'>Lorem Ipsum</p>
				</div>
				<div class='col-span-3 sm:col-span-1 flex md:flex-col items-end md:items-start gap-5 md:gap-1'>
					<p class='text-4xl font-bold text-tradehelp-cyan'>2018</p>
					<p class='uppercase-tag mb-1'>Lorem Ipsum</p>
				</div>
				<div class='col-span-3 sm:col-span-1 flex md:flex-col items-end md:items-start gap-5 md:gap-1'>
					<p class='text-4xl font-bold text-tradehelp-cyan'>2024</p>
					<p class='uppercase-tag mb-1'>Lorem Ipsum</p>
				</div>
			</div>
		</div>
	</div>
</section>
