---
import FlowMobile from '../assets/home/flowMobile.svg';
import FlowDesktop from '../assets/home/flowDesktop.svg';
---

<section>
	<div class='content-wrapper text-center'>
		<div class='p-7'>
			<img src={FlowMobile.src} alt='' class='md:hidden w-full' />
		</div>
		<div class='px-15 pb-20'>
			<img src={FlowDesktop.src} alt='' class='hidden md:block w-full mx-auto' />
		</div>
	</div>
</section>
