---
import { Image } from 'astro:assets';
import Trustpilot from '../assets/home/trustpilot_excellent.svg';
---

<section class='bg-light-grey-bg text-center pt-16 pb-15 flex flex-col items-center justify-center gap-5'>
	<div class='flex flex-col items-center justify-center gap-5 max-w-140 px-7'>
		<Image src={Trustpilot} alt='' class='w-full max-w-55' />
		<h4>
			"Friendly, professional company. Going the extra mile to help tradespeople. Highly recommend them to others."
		</h4>
		<p class='text-sm text-text-secondary'>MGF Facilities Management Services</p>
	</div>
</section>
